body{

	padding: 75px;
	height: 100%;
	
	background: -webkit-linear-gradient(#cf0a38 100%, blue 100%);
}
#calc{
	height: 500px;
	width: 400px;
	background: white;
	border: 1px black solid;
	border-radius: 20px;
	
}
#display{
	display: block;
	width: 90%;
	height: 100px;
	margin-top: 20px;
	background: yellow;

}